<?xml version="1.0"?>
<!-- ROS2 Humble compatible Gazebo configuration -->
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <!-- ROS2 Gazebo ros2_control plugin -->
  <gazebo>
    <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
      <robot_param>robot_description</robot_param>
      <robot_param_node>robot_state_publisher</robot_param_node>
      <parameters>$(find husky_ur3_gazebo)/config/ros2_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>
